<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
<!-- <link rel="stylesheet" href="css/lib/bootstrap.min.css" /> -->
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript"
	src="js/controller/employee_controller.js"></script>
<script type="text/javascript" src="js/service/employee_service.js"></script>
</head>
<body ng-app="myApp" class="ng-cloak">
	<div style="padding-left: 10px" class="generic-container"
		ng-controller="EmployeeController as ctrl">
		
		<div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Employee Registration Form </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.employee.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="ename">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.employee.name" id="ename" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                      <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                         
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="gender">Gender</label>
                              <div class="col-md-7">
                                  <input type="radio" ng-model="ctrl.employee.gender" id="gender" value="M"/> Male
                              		<input type="radio" ng-model="ctrl.employee.gender" id="gender" value="F"/> Female
                              </div>
                          </div>
                      </div>
                       
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="address">Address</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.employee.address" id="address" class="form-control input-sm" placeholder="Enter your Address"/>
                              </div>
                          </div>
                      </div>
 
  					<div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="designation">Designation</label>
                              <div class="col-md-7">
                                  <!-- <input type="text" ng-model="ctrl.employee.designation" id="designation" class="form-control input-sm" /> -->
                                  <select ng-model="ctrl.employee.designation">
									<option ng-repeat="x in roles">{{x}}</option>
									</select>
                              </div>
                          </div>
                      </div>
                      
                      <!-- <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="email">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
  -->
                      <div style="padding-left: 20px" class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List of Employees </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Emp ID</th>
							<th>Name</th>
							<th>Gender</th>
							<th>Address</th>
							<th>Designation</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="emp in ctrl.employees">
							<td><span ng-bind="emp.id"></span></td>
							<td><span ng-bind="emp.name"></span></td>
							<td><span ng-bind="emp.gender"></span></td>
							<td><span ng-bind="emp.address"></span></td>
							<td><span ng-bind="emp.designation "></span></td>
							<td>
								<button type="button" ng-click="ctrl.edit(u.id)"
									class="btn btn-success custom-width">Update</button>
								<button type="button" ng-click="ctrl.remove(u.id)"
									class="btn btn-danger custom-width">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</body>
<!-- <script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="<c:url value='/static/js/app.js' />"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>-->
<!-- <script src="/static/js/app.js"></script> -->
</html>